---
export const prerender = true
import { fetchProjects } from '../lib/api'
const projects = await fetchProjects()
---
<html lang="en"><head><title>Portfolio</title></head><body>
  <h1>Projects</h1>
  <ul>{projects.map(p => <li><a href={`/projects/${p.slug}`}>{p.name}</a></li>)}</ul>
</body></html>
